HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Synology DSM SDK example ###
synology-dsm-java-sdk-example/src/main/resources/filestation-basic.yaml
!synology-dsm-java-sdk-example/src/main/resources/filestation-basic.example.yaml
synology-dsm-java-sdk-example/src/main/resources/filestation-advanced.yaml
!synology-dsm-java-sdk-example/src/main/resources/filestation-advanced.example.yaml
synology-dsm-java-sdk-example/src/main/resources/filestation-resource.yaml
!synology-dsm-java-sdk-example/src/main/resources/filestation-resource.example.yaml
synology-dsm-java-sdk-example/src/main/resources/filestation-archive.yaml
!synology-dsm-java-sdk-example/src/main/resources/filestation-archive.example.yaml
synology-dsm-java-sdk-example/src/main/resources/filestation-official-coverage.yaml
!synology-dsm-java-sdk-example/src/main/resources/filestation-official-coverage.example.yaml
synology-dsm-java-sdk-example/src/main/resources/filestation-v030.yaml

*.flattened-pom.xml
