HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Synology DSM SDK example ###
/synology-dsm-java-sdk-example/synology-dsm-java-sdk-java-example/src/main/resources/filestation-*.yaml
!/synology-dsm-java-sdk-example/synology-dsm-java-sdk-java-example/src/main/resources/filestation-*.example.yaml

/synology-dsm-java-sdk-example/synology-dsm-java-sdk-spring-boot2-example/src/main/resources/application.yaml
/synology-dsm-java-sdk-example/synology-dsm-java-sdk-spring-boot2-example/src/main/resources/application.yml
!/synology-dsm-java-sdk-example/synology-dsm-java-sdk-spring-boot2-example/src/main/resources/application.example.yaml

/synology-dsm-java-sdk-example/synology-dsm-java-sdk-spring-boot3-example/src/main/resources/application.yaml
/synology-dsm-java-sdk-example/synology-dsm-java-sdk-spring-boot3-example/src/main/resources/application.yml
!/synology-dsm-java-sdk-example/synology-dsm-java-sdk-spring-boot3-example/src/main/resources/application.example.yaml

*.flattened-pom.xml
